<h1><i class="fas fa-edit"></i> Edit Player</h1>
<%= form_for(@player, url: "/players/#{@player.id}") do |f| %>
  <h4 class="model">Name</h4>
  <%= f.text_field :name %>
  <h4 class="model">Age</h4>
  <%= f.number_field :age %>
  <h4 class="model">Team</h4>
  <%= f.text_field :team, min:16, max:60 %>
  <h4 class="model">Nationality</h4>
  <%= f.text_field :nationality %>
  <h4 class="model">Position</h4>
  <%= f.select :position, ['FW','MF','DF','GK'],{include_blank:'Please select'} %>
  <br>
  <%= f.submit 'Edit', class:"btn btn-success" %>
<% end %>