<div class="container">
  <div class="row">
    <div class="left-content col-md-6 col-xs-12">
      <p class="model">Name</p>
      <h2><%= @player.name %></h2>
      <p class="model">Image</p>
      <%= attachment_image_tag @player, :image, :fill, 300, 300, format: 'jpeg', class:"player-image" %>
    </div>
    <div class="right-content col-md-6 col-xs-12">
      <p class="model">Age</p>
      <h2><%= @player.age %></h2>
      <p class="model">Team</p>
      <h2><%= @player.team %></h2>
      <p class="model">Nationality</p>
      <h2><%= @player.nationality %></h2>
      <p class="model">Position</p>
      <h2><%= @player.position %></h2>
      <br>
      <i class="fas fa-edit"></i><%= link_to " Edit", edit_player_path(@player.id), class:"action" %>
      <i class="fas fa-trash-alt"></i><%= link_to "Delete", destroy_player_path(@player.id), method: :delete, "data-confirm" => "本当に消しますか？", class:"action" %>
    </div>
  </div>
</div>

