<!DOCTYPE html>
<html>
  <head>
    <title>FootballPlayersApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/0daeb9e6e6.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1 class="headline"><i class="far fa-futbol"></i> Football Players <i class="fas fa-running"></i></h1>
    </header>
    <nav>
      <ul class="nav-list">
        <li class="nav-list-item">
          <i class="fas fa-home"></i> 
          <%= link_to " Top", root_path %>
        </li>
        <li class="nav-list-item">
          <i class="fas fa-running"></i> 
          <%= link_to "Players", players_path %>
        </li>
        <li class="nav-list-item">
          <i class="fas fa-plus"></i> 
          <%= link_to "New Player", players_new_path %>
        </li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
